$header_bg_c    : rgba(52, 152, 219, 0.85);
$bg_blue        : #3498db;
$mains_bg_c     : $bg_blue;
$filters_bg     : #E5F4FE;
$footer_bg_c    : #34495e;

$b_w            : 0.7em;
$b_h            : 0.5em;
$b_f_size       : 1em;

$h_h            : 5em;
$foo_h          : 10%;
$page_width     : 80%;
$section_height : 100%;

$page_min_w     : 1024px;
$page_min_h     : 768px;

$logo_width     : 21.8em;
$sfield_w       : 80%;
$sfield_h       : 40px;


$main_title_white   : #F2F2F2;
$index_icons_c      : #7EC0ED;
