@import '_constants.scss';

@mixin content-dims() {
    min-height: $page_min_h;
    min-width: $page_min_w;
}
html, body {
    height: 100%;
}
.main_div {
    width: 100%;
    height: 100%;
    min-width: $page_min_w;
}
#main_header {
    width: 100%;
    height: $h_h;
    position: fixed;
    min-width: $page_min_w;
    top: 0;
}
#main_section {
    min-height: 100%;
    width: 100%;
    padding: 20px 0;
}
.content-section {
    width: 100%;
    height: 100%;
    background-color: gray;
}
.header-content,
.footer-content,
.section-content {
    width: $page_width;
    margin: 0 auto;
}
.section-content {
    padding-top: $h_h * 1.05;
}
.middle {
    width: 100%;
    margin: 0 auto;
}
