@import '_constants.scss';
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

$button_width       : 10%;
$remaining_width    : $button_width * 0.1;
$s_form_min_w       : 390px;
$index_icons_c      : #7EC0ED;
$popover_bg_c       : rgba(227, 229, 255, 0.95); // #E3E5FF
$popover_title_c    : #A1ABCC;

.close {
    position: absolute;
    right: 10px;
    top: 5px;

}
.arrow-up {
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border: {
        left: 10px solid transparent;
        right: 10px solid transparent;
        bottom: 10px solid $popover_bg_c;
    }
    left: 45%;
}
#bar_login_popover, #bar_register_popover {
    top: $h_h;
    position: absolute;
    z-index: 10;
    background-color: $popover_bg_c;

    @include border-radius(2px);
    //@include box-shadow(#2A7CB2);
}
#bar_register_popover {
    right: 5%;
}
#bar_login_popover {
    right: 12.5%;
}
.popover-title {
    text-align: center;
    border-bottom: {
        style: solid;
        width: 1px;
        color: rgba(189, 202, 240, 0.8);
    }
    padding: 5px 70px;
    color: $popover_title_c;
}
.header-links {
    float: right;
    height: $h_h;
    line-height: $h_h;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    ul  {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
        li {
            display: inline;
            padding-right: 10px;
            position: relative;
            letter-spacing: 0.5px;
            margin-left: 10px;
            color: $index_icons_c;
        }
        li.underline:hover {
            text-decoration: underline;
        }
    }
}
.auth-form-list {
    list-style-type: none;
    padding: 0 10px;
    li {
        margin: 0;
        margin-bottom: 3px;
    }
}
.links-container {
    height: 100%;
}
.email_label, .email {
    display: none;
}
.header-logo {
    margin-top: 0.6em;
    width: $logo_width;
    height: auto;
}
button.index_sbutton {
    font-size: 3em;
    position: relative;
    top: 4px;
    margin-left: 3px;
    padding: 0 10px;
    line-height: 45px;
    width: 10%;
}
input.index_sfield {
    height: 45px;
    padding: 8px 5px;
    font-size: 2.0em;
    min-width: $s_form_min_w;
    width: 100% - $button_width - $remaining_width;
}
input.bar_sfield {
    font-size: $f_x3;
    width: 60%;
}
button.bar_sbutton {
    font-size: $f_x4;
    width: 8%;
    position: relative;
    padding: 1px 0;
    top: 1px;
    margin-left: 3px;
}
#bar_search_zone {
    margin-top: 8px;
}
#index_title {
    color: #F2F2F2;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
#index_container {
    position: relative;
    top: 60px;
}
#index_form {
    margin-bottom: 150px;
}
#index_descriptions i, #index_descriptions p {
    color: $index_icons_c;
}
#main_footer {
    color: #597CA0;
}
#love {
    color: #CC88BB;
}
#social_networks {
    position: relative;
    top: 20px;
}
#widget {
    text-align: center !important;
}

//
//
// PROFESSOR LIST VIEW
//
//
#professor_filters {
    border-radius: 2px;
    min-height: 100px;
    width: 98%;
}
#professor_content {
    border-radius: 2px;
    min-height: 40%;
    width: 100%;
    max-width: $page_min_w * 0.8;
    padding: 10px;
    margin: 0 auto;
}
.professor_pill {
    padding-top: 9px;
    width: 90%;
    margin: 0 auto;
}
.professor_img {
    width: 80%;
    height: auto;
}
.professor_social,
.professor_img {
    padding: 5px 10px 0 5px;
}

//
//
// PROFESSOR VIEW
//
//
#professor_reviews {
    padding-top: 10px;
}

#review_form {
    height: 290px;
}
