@import '_constants.scss';
$button_width       : 10%;
$remaining_width    : $button_width * 0.1;
$s_form_min_w       : 390px;
$index_icons_c      : #7EC0ED;

.arrow-up {
    position: absolute;
    top: -10px + 1;
    width: 0;
    height: 0;
    border: {
        left: 10px solid transparent;
        right: 10px solid transparent;
        bottom: 10px solid #FFF000;
    }
}
#bar_login_popover, #bar_register_popover {
    top: $h_h;
    right: 8.5%;
    position: absolute;
    padding: 20px;
    z-index: 10;
    background-color: #FFF000;
    box-shadow: 2px 2px 2px #888888;
}
#bar_login_popover .arrow-up {
    left: 20%;
}
#bar_register_popover .arrow-up {
    right: 26.5%;
}

.header-links {
    float: right;
    height: $h_h;
    line-height: $h_h;
    ul  {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
        li {
            display: inline;
            padding-right: 10px;
            position: relative;
        }
    }
}
.links-container {
    height: 100%;
}
.email_label, .email {
    display: none;
}
.header-logo {
    margin-top: 0.6em;
    width: $logo_width;
    height: auto;
}
#search_button {
    font-size: 3em;
    position: relative;
    top: 4px;
    margin-left: 3px;
    padding: 0 10px;
    line-height: 45px;
    width: 10%;
}
#main_sfield {
    height: 45px;
    padding: 8px 5px;
    font-size: 2.0em;
    min-width: $s_form_min_w;
    width: 100% - $button_width - $remaining_width;
}
#index_title {
    color: #F2F2F2;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
#index_container {
    position: relative;
    top: 60px;
}
#index_form {
    margin-bottom: 150px;
}
#index_descriptions i, #index_descriptions p {
    color: $index_icons_c;
}

//
//
// PROFESSOR LIST VIEW
//
//
#professor_filters {
    border-radius: 2px;
    min-height: 100px;
    width: 98%;
}
#professor_content {
    border-radius: 2px;
    min-height: 40%;
    width: 100%;
    max-width: $page_min_w * 0.8;
    padding: 10px;
    margin: 0 auto;
}
.professor_pill {
    padding-top: 9px;
    width: 90%;
    margin: 0 auto;
}
.professor_img {
    width: 80%;
    height: auto;
}
.professor_social,
.professor_img {
    padding: 5px 10px 0 5px;
}

//
//
// PROFESSOR VIEW
//
//
#professor_reviews {
    padding-top: 10px;
}

#review_form {
    height: 290px;
}
