@import '_constants.scss';
@import "compass/utilities/color/contrast";

$bg_green       : #2ecc71;



$f_p1 : $initial_p_size * $f_p_multiplier;
$f_p2 : $f_p1 * $f_p_multiplier;
$f_p3 : $f_p2 * $f_p_multiplier;
$f_p4 : $f_p3 * $f_p_multiplier;
$f_p5 : $f_p4 * $f_p_multiplier;
$f_p6 : $f_p5 * $f_p_multiplier;
$f_p7 : $f_p6 * $f_p_multiplier;
$f_p8 : $f_p7 * $f_p_multiplier;
$f_p9 : $f_p8 * $f_p_multiplier;
$f_p10 : $f_p9 * $f_p_multiplier;

$primary_color      : #153F5B;
$primary_color_s    : #1E5B85;

$confirm_color      : #2ECC71;
$confirm_color_s    : #31D978;

@mixin button($button_color, $saturated_color) {
    background-color: $button_color !important;
    @include contrasted($button_color);
    &:hover {
        background-color: $saturated_color !important;
    }
}

#main_header {
    background-color: $header_bg_c;
}
#main_section {
    background-color: $mains_bg_c;
}
#main_footer {
    background-color: $footer_bg_c;
}
body {
    background-color: black;
}
#first-section {
    background: {
        color: $bg_blue;
    }
}
#second-section {
    background: {
        color: $bg_green;
    }
}
#professor_filters,
#professor_content {
    background-color: $filters_bg;
}
.h_link {
    font: {
        family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }
    color: #ecf0f1;
}
.sep {
    color: $bg_blue - #081721;
}

.f_big {
    font-size: 1.25em;
}
.f_large {
    font-size: 1.56em;
    padding: 1px;
}
.f_x_large {
    font-size: 1.95em;
    padding: 4px;
}
.f_huge {
    font-size: 2.43em;
    padding: 7px;
}
.f_x_huge {
    font-size: 3.04em;
    padding: 10px;
}
.f_x1, .f_x2, .f_x3, .f_x4, .f_x5,
.f_x6, .f_x7, .f_x8, .f_x9, .f_x10 {
    line-height: normal;
}
.f_x1 {
    font-size: $f_x1;
}
.f_x2 {
    font-size: $f_x2;
}
.f_x3 {
    font-size: $f_x3;
}
.f_x4 {
    font-size: $f_x4;
}
.f_x5 {
    font-size: $f_x5;
}
.f_x6 {
    font-size: $f_x6;
}
.f_x7 {
    font-size: $f_x7;
}
.f_x8 {
    font-size: $f_x8;
}
.f_x9 {
    font-size: $f_x9;
}
.f_x10 {
    font-size: $f_x10;
}
input[type=submit].b_small,
.b_small {
    padding: $b_h $b_w;
    font-size: $b_f_size;
}
input[type=submit].b_normal,
.b_normal {
    padding: $b_h $b_w;
    font-size: $b_f_size*1.25;
}
input[type=submit].b_big,
.b_big {
    padding: $b_h $b_w;
    font-size: $b_f_size*1.25*1.25;
}
input[type=submit].b_large,
.b_large {
    padding: $b_h $b_w;
    font-size: $b_f_size*1.25*1.25*1.25;
}
.primary_c {
    @include button($primary_color, $primary_color_s);
}
.confirm_c {
    @include button($confirm_color, $confirm_color_s);
    color: #114C2A !important;
}
.bold {
    font-weight: bold;
}

#indx_log_usr_id, #indx_log_pss_id,
#indx_reg_usr_id, #indx_reg_pss_id {
    @include border-radius(0px);
    width: 230px;
    padding: 15px 10px;
    font-size: 1.6em;
}

#indx_log_sbt_id, #indx_reg_sbt_id {
    @include button($primary_color, $primary_color_s);
    font-size: $f_x2;
    padding: 5px;
}
#professor_profile {
    color: #123953;
}
.secondary {
    color: #84A1AB;
}
.pos_num {
    color: #27ae60;
}
.neg_num {
    color: #c0392b;
}
.separator {
    color: #D2E3F0;
}
.underline:hover {
    text-decoration: underline;
}
.striped {
    background-color: #DBEDFA;
}
