extends sectioned_layout

block main_section
  h1 Node Adventures
  form(method='GET', action=locals.reverse('index'))
    label(for='main_sfield') Busca un profesor
    input.search_field(type='text', name='q', id='main_sfield')
    input.search_button(type='submit', value='Search')
  p= url.query.q

