extends sectioned_layout

include common/search_bar
include common/auth_forms

block prepend main_section

  section.content-section#first-section
    div.section-content.pure-g-r
        div.pure-u-1
          if STATE.flash
            div#flash_msg(class=STATE.flash.status || '')
              p= STATE.flash.msg
        div#index_container.pure-u-1
          div.pure-u-1
            h1#index_title.f_x10.center Buscá a un profesor
          div#index_form.pure-offset-2-9.pure-u-5-9
            mixin search_bar('index_sfield', 'index_sbutton', 'Nombre o parte del nombre de un profesor')
            div#social_networks.pure-u-1
                div.pure-u-2-7
                  mixin facebook()
                div.pure-u-4-7
                  mixin twitter()
                  mixin linkedin()
          div#index_descriptions.pure-u-1.center
            div.pure-u-1-3
              div.pure-u-1.f_x8
                i.icon.ion-person-add
              div.pure-u-10-11.f_x2
                p Buscá a un profesor de tu Universidad. Si no lo encuentras, creá su perfil.
            div.pure-u-1-3
              div.pure-u-1.f_x8
                i.icon.ion-compose
              div.pure-u-10-11.f_x2
                p Calificá a tu profesor, de manera anónima, objetiva y respetuosa.
            div.pure-u-1-3
              div.pure-u-1.f_x8
                i.icon.ion-ios7-chatbubble
              div.pure-u-10-11.f_x2
                p Conocé la opinión de otros estudiantes. Usa su experiencia para tomar una mejor decisión.
