extends sectioned_layout

include common/search_bar
include common/login_form
include common/register_form

block prepend main_section

  section.content-section#first-section
    div.section-content.pure-g-r
        div.pure-u-1
          if STATE.flash
            div#flash_msg(class=STATE.flash.status || '')
              p= STATE.flash.msg
        div.left-content.pure-u-1-2
          h1.f_huge Calificá a un profesor
          h2.f_big Calificá a tus profesores y conocé la opinión de tus compañeros.
          mixin search_bar

          h1 Ingresa
            mixin login_form()
          h1 Regístrate
            mixin register_form()

        div.right-content.pure-u-1-2
          p Stuff that goes on the right.
