include common/social_networks

doctype 5
html
  head
    - var page_t = page_title || "Node Adventures"
    title= page_t
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.3.min.css')
    link(rel='shortcut icon', href='/img/favicon@2.ico', type='image/x-icon')
  body
    mixin facebook_sdk()
    block content
