extends sectioned_layout

include common/search_bar

block header
  mixin search_bar()

block prepend main_section
  section.content-section#first-section
    div.section-content.pure-g-r
      div.pure-u-1#professor_content
        div#professor_profile.pure-u-1.bottom_border
          div.pure-u-2-9
            div.pure-u-1
              img.professor_img.pull-right(src="/img/default_prof_img.jpg", alt="prof_img")
            div.pure-u-1.professor_social.pull-right
                p Facebook Twitter Linkedin
          div.pure-u-7-9
            div.pure-u-3-5
              h1.f_x_huge= rows.name + ' ' + rows.last_name
              h2 Universidad de Morón
              h3 Economía
            div.pure-u-2-5
              div.pure-u-1
                p Calificación general
              div.pure-u-1
                p.f_huge 8.3
            div.pure-u-1
              div.pure-u-1-2
                div.pure-u-2-3
                  p Conocimiento:
                div.pure-u-1-3
                  p 10
                div.pure-u-2-3
                  p Claridad:
                div.pure-u-1-3
                  p 10
                div.pure-u-2-3
                  p Exigencia:
                div.pure-u-1-3
                  p 10
              div.pure-u-1-2
                div.pure-u-2-3
                  p Conocimiento:
                div.pure-u-1-3
                  p 10
                div.pure-u-2-3
                  p Claridad:
                div.pure-u-1-3
                  p 10
                div.pure-u-2-3
                  p Exigencia:
                div.pure-u-1-3
                  p 10
          div.pure-u-1
            div.pure-offset-4-11.pure-u-5-11
              a.button.b_large.pull-right(href="#") Calificar

        div#review_form.pure-u-1.bottom_border
          div.pure-u-1
            div.pure-offset-1-11.pure-u-4-11
              div.pure-u-1
                div.pure-u-2-11
                  p.pull-right Dinámica
                div.pure-offset-1-12.pure-u-6-11
                  div#star_dinamica
              div.pure-u-1
                div.pure-u-2-11
                  p.pull-right Conocimientos
                div.pure-offset-1-12.pure-u-6-11
                  div#star_conocimientos
              div.pure-u-1
                div.pure-u-2-11
                  p.pull-right Claridad
                div.pure-offset-1-12.pure-u-6-11
                  div#star_claridad
              div.pure-u-1
                div.pure-u-2-11
                  p.pull-right Pasion
                div.pure-offset-1-12.pure-u-6-11
                  div#star_pasion
              div.pure-u-1
                div.pure-u-2-11
                  p.pull-right Compromiso
                div.pure-offset-1-12.pure-u-6-11
                  div#star_compromiso
              div.pure-u-1
                div.pure-u-2-11
                  p.pull-right Exigencia
                div.pure-offset-1-12.pure-u-6-11
                  div#star_exigencia
            div.pure-u-6-11
              p hola

        div#professor_reviews.pure-u-1
          div#waiting_msg.pure-u-1.bottom_border.hide
            h1.f_x_large.center Cargando comentarios. Por favor espera.


          div#reviews.pure-u-1
            div#no_reviews_msg.pure-u-1.bottom_border.hide
              h1.f_x_large.center Nadie calificó a este profesor todavía. Sé el primero
              h2.f_x_huge.center Calificar

            div#reviews_found.pure-offset-1-12.pure-u-10-12.hide
              //div.pure-u-1.review
                div.pure-u-1
                  div.pure-u-2-9
                    div.pure-u-1.center
                      p Calificación Promedio
                    div.pure-u-1.center
                      p.f_x_huge 8.3
                  div.pure-u-7-9
                    div.pure-u-8-9
                      p Acá va un comentario...
                div.pure-u-1
                  div.pure-u-1-2
                    p 50 up - 50 down. ¿Te pareció útil este comentario? <span class="yes_vote">Si</span> o <span class="no_vote">No</span>
                  div.pure-u-1-2
                    p 13 de Agosto del XXXX

block append js_scripts
  include common/_templates
