extends sectioned_layout

include common/search_bar

block header
  mixin search_bar()

block prepend main_section
  section.content-section#first-section
    div.section-content.pure-g-r
      div.pure-u-1#professor_content
        div#professor_profile.pure-u-1.bottom_border
          div.pure-u-2-9
            div.pure-u-1
              img.professor_img.pull-right(src="/img/default_prof_img.jpg", alt="prof_img")
            div.pure-u-1.professor_social.pull-right
                p Facebook Twitter Linkedin
          div.pure-u-7-9
            div.pure-u-3-5
              h1.f_x_huge= rows.name + ' ' + rows.last_name
              h2 Universidad de Morón
              h3 Economía
            div.pure-u-2-5
              div.pure-u-1
                p Calificación general
              div.pure-u-1
                p.f_huge 8.3
            div.pure-u-1
              div.pure-u-1-2
                div.pure-u-2-3
                  p Conocimiento:
                div.pure-u-1-3
                  p 10
                div.pure-u-2-3
                  p Claridad:
                div.pure-u-1-3
                  p 10
                div.pure-u-2-3
                  p Exigencia:
                div.pure-u-1-3
                  p 10
              div.pure-u-1-2
                div.pure-u-2-3
                  p Conocimiento:
                div.pure-u-1-3
                  p 10
                div.pure-u-2-3
                  p Claridad:
                div.pure-u-1-3
                  p 10
                div.pure-u-2-3
                  p Exigencia:
                div.pure-u-1-3
                  p 10
            div.pure-u-1
              h1.f_x_huge Botón para Calificar

        div#professor_reviews.pure-u-1.bottom_border
          div#no_reviews_msg.pure-u-1
            h1.f_x_large.center Nadie calificó a este profesor todavía. Sé el primero
            h2.f_x_huge.center Calificar

        div#reviews.pure-u-1
          div.review.pure-offset-1-12.pure-u-10-12
            div.pure-u-1
              div.pure-u-2-9
                div.pure-u-1.center
                  p Calificación Promedio
                div.pure-u-1.center
                  p.f_x_huge 8.3
              div.pure-u-7-9
                div.pure-u-8-9
                  p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ornare dolor ut congue faucibus. Nam et sodales erat, id facilisis augue. Integer laoreet tortor eu dolor fermentum, et congue felis pretium. Phasellus non nulla vel leo gravida dignissim at ut velit. Etiam ut sodales nisl. Integer pulvinar libero et arcu malesuada, quis tempor diam egestas. Quisque nulla nunc, ultrices non sagittis in, mattis eu libero. Mauris id interdum leo. Donec orci turpis, mollis in fermentum in, sagittis vitae velit. Etiam ut nisi mollis, suscipit arcu nec, vulputate eros. Donec commodo fringilla fringilla. Proin accumsan, nunc quis suscipit cursus, erat lorem pharetra dui, vitae feugiat lorem diam vitae dolor. Nulla eu ante laoreet, tempus lacus in, fermentum ante. Quisque scelerisque sagittis erat ut blandit.
                  | Aliquam erat volutpat. Etiam a accumsan lorem. Proin pulvinar leo vitae blandit fringilla. Donec nibh libero, adipiscing nec scelerisque sit amet, tristique ac neque. Proin auctor luctus sed.
            div.pure-u-1
              div.pure-u-1-2
                p 50 up - 50 down. ¿Te pareció útil este comentario? <span class="yes_vote">Si</span> o <span class="no_vote">No</span>
              div.pure-u-1-2
                p 13 de Agosto del XXXX
