extends layout

include common/auth_forms

block content
  div.main_div.pure-g-r
    header#main_header
      div.header-content.pure-u-1
        div.pure-u-2-9
          a(href=locals.reverse('index'))
            img.header-logo(src="/img/h_logo@2.png", alt="none")
        div.pure-u-5-9
          block header
        div#bar_auth_zone.pure-u-2-9.links-container(class=(STATE.session !== '')? 'hide': '')
          nav.header-links
            ul
              li
                a#bar_login_link(href="#") Ingresar
              li.sep |
              li
                a#bar_register_link(href="#") Registrarse
          div#bar_login_popover.popover.pure-u-1-1.hide
            div.arrow-up
            mixin auth_form('indx_log_usr_id', 'indx_log_pss_id', 'indx_log_sbt_id')
          div#bar_register_popover.popover.pure-u-1-1.hide
            div.arrow-up
            mixin auth_form('indx_reg_usr_id', 'indx_reg_pss_id', 'indx_reg_sbt_id')
        div#logged_in.pure-u-2-9(class=(STATE.session === '')? 'hide': '')
          nav.header-links
            ul
              li
                ¡Hola! Ya ingresaste
              li.sep |
              li
                a#logout_link(href=locals.reverse('logout')) Salir


    section#main_section
      block main_section
    footer#main_footer
      block main_footer
        div.footer-content.pure-g-r
          div.pure-u-1-3
            p part1
          div.pure-u-1-3
            p part2
          div.pure-u-1-3
            p part3

  block js_scripts
    script(data-main='/javascripts/main.js', src='/javascripts/lib/require.js')

