extends layout

include common/auth_forms

block content
  div.main_div.pure-g-r
    header#main_header
      div.header-content.pure-u-1
        div.pure-u-2-9
          a(href=locals.reverse('index'))
            img.header-logo(src="/img/h_logo@2.png", alt="none")
        div.pure-u-5-9
          block header
        div#bar_auth_zone.pure-u-2-9.links-container(class=(STATE.session !== '')? 'hide': '')
          nav.header-links
            ul
              li.f_x1.underline
                a#bar_login_link(href="#") INGRESAR
              li.f_x1.underline
                a#bar_register_link(href="#") REGISTRARSE
          div#bar_login_popover.popover.pure-u-1-1.hide
            div.arrow-up
            div.popover-title.pure-u-1
              h2.f_x3 Ingresar
              a.close(href="#")
                i.f_x4.icon.ion-close-round
            div.pure-u-1
              mixin auth_form('indx_log_usr_id', 'indx_log_pss_id', 'indx_log_sbt_id', 'Ingresar','', '')
          div#bar_register_popover.popover.pure-u-1-1.hide
            div.arrow-up
            div.popover-title.pure-u-1
              h2.f_x3 Registrarse
              a.close(href="#")
                i.f_x4.icon.ion-close-round
            div.pure-u-1
              mixin auth_form('indx_reg_usr_id', 'indx_reg_pss_id', 'indx_reg_sbt_id', 'Registrarse','', '')
        div#logged_in.pure-u-2-9(class=(STATE.session === '')? 'hide': '')
          nav.header-links
            ul
              li.f_x1
                ¡Hola! Ya ingresaste
              li.f_x1.underline
                a#logout_link(href=locals.reverse('logout')) SALIR
      div.pure-offset-2-11.pure-u-7-11
        div#status_bar.informative_status.pure-u-1
          div.pure-u-10-11
            p.f_x1.center A default message
          div.pure-u-1-11
            a(href="#")
              i.icon.ion-close-round.f_x4




    section#main_section
      block main_section
    footer#main_footer
      block main_footer
        div.footer-content.pure-u-1
          div.pure-offset-1-11.pure-u-9-11
              p.center © 1984 proferanking. <span class="bold">Made with <i id="love" class="ion-ios7-heart"></i> in BA</span>


  block js_scripts
    script(data-main='/javascripts/main.js', src='/javascripts/lib/require.js')

