extends layout

block content
  div(class='main_div')
    header(class='main_header')
      block header
    section(class='main_section')
      block main_section
    footer(class='main_footer')
      block main_footer

