extends layout

block content
  div(class='main_div')
    header(class='main_header')
      block header
        p default header
    section(class='main_section')
      block main_section
        p default section
    footer(class='main_footer')
      block main_footer
        p default footer

  block js_scripts
    script(src='javascripts/lib/jquery.min.js')
    script(src='javascripts/lib/underscore-min.js')
    script(src='javascripts/lib/backbone-min.js')

