
@mixin form-input-defaults() {
    background-color: white;
    border-radius: 2px;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

input[type=text],
input[type=password],
input[type=email] {
    @include form-input-defaults();
    color: black;
    height: 1.5em;
    width: 10em;
}
input[type=submit] {
    @include form-input-defaults();
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
body {
    font-size: 62.5%;
    line-height: 1.8em; // 18px
}
form label {
    display: block;
}
.pull-right {
    display: block;
    float: right;
}
.pull-left {
    display: block;
    float: left;
}
.bottom_border {
    padding-bottom: 5px;
    border: {
        bottom: solid 1px #E0E4EA;
    }
}
.center {
    text-align: center;
}
