$logo_width     : 21.8em;
$h_h            : 5em;
$sfield_w       : 80%;
$sfield_h       : 40px;
$min_page_w     : 1024px;
$min_page_h     : 768px;

.header-links {
    float: right;
    height: $h_h;
    line-height: $h_h;
    ul  {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;

        li {
            display: inline;
            padding-right: 10px;
            position: relative;
        }
    }
}
.links-container {
    height: 100%;
}
.register-tag, .login-e,
.register-tag, .register-e {
    display: none;
}

.header-logo {
    margin-top: 0.6em;
    width: $logo_width;
    height: auto;
}
#main_sfield {
    width: $sfield_w;
    height: $sfield_h;
    font-size: 24px;
    margin-right: 5px;
}
#search_button {
    height: $sfield_h;
    width: 10%;
    background: {
        image: url(/img/icon-search@2.png);
        position: 50%;
        size: 25px 25px;
        repeat: no-repeat;
    }
    color: transparent;
}

//
//
// PROFESSOR LIST VIEW
//
//
#professor_filters {
    border-radius: 2px;
    min-height: 100px;
    width: 98%;
}
#professor_content {
    border-radius: 2px;
    min-height: 40%;
    width: 100%;
    max-width: $min_page_w * 0.8;
    padding: 10px;
    margin: 0 auto;
}
.professor_pill {
    padding-top: 9px;
    width: 90%;
    margin: 0 auto;
}
.professor_img {
    width: 80%;
    height: auto;
}
.professor_social,
.professor_img {
    padding: 5px 10px 0 5px;
}

//
//
// PROFESSOR VIEW
//
//
#professor_reviews {
    padding-top: 10px;
}
