$header_bg_c    : rgba(52, 152, 219, 0.8);
$footer_bg_c    : #34495e;
$mains_bg_c     : #3498db;
$bg_blue        : #3498db;
$bg_green       : #2ecc71;
$f_color        : #ecf0f1;
$filters_bg     : #E5F4FE;

$b_w        : 0.7em;
$b_h        : 0.5em;
$b_f_size   : 1em;

#main_header {
    background-color: $header_bg_c;
}
#main_section {
    background-color: $mains_bg_c;
}
#main_footer {
    background-color: $footer_bg_c;
}
body {
    background-color: black;
}
#first-section {
    background: {
        color: $bg_blue;
    }
}
#second-section {
    background: {
        color: $bg_green;
    }
}
#professor_filters,
#professor_content {
    background-color: $filters_bg;
}
.h_link {
    font: {
        family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }
    color: #ecf0f1;
}
.sep {
    color: $bg_blue - #081721;
}

.f_big {
    font-size: 1.25em;
}
.f_large {
    font-size: 1.56em;
    padding: 1px 0;
}
.f_x_large {
    font-size: 1.95em;
    padding: 4px 0;
}
.f_huge {
    font-size: 2.43em;
    padding: 7px 0;
}
.f_x_huge {
    font-size: 3.04em;
    padding: 10px 0;
}
input[type=submit].b_small,
.b_small {
    padding: $b_h $b_w;
    font-size: $b_f_size;
}
input[type=submit].b_normal,
.b_normal {
    padding: $b_h $b_w;
    font-size: $b_f_size*1.25;
}
input[type=submit].b_big,
.b_big {
    padding: $b_h $b_w;
    font-size: $b_f_size*1.25*1.25;
}
input[type=submit].b_large,
.b_large {
    padding: $b_h $b_w;
    font-size: $b_f_size*1.25*1.25*1.25;
}
