input[type=text],
input[type=password],
input[type=email] {
  background-color: white;
  border-radius: 2px;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  color: black;
  height: 1.5em;
  width: 10em; }

input[type=submit] {
  background-color: white;
  border-radius: 2px;
  border: none;
  outline: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0; }

body {
  font-size: 62.5%;
  line-height: 1.8em; }

form label {
  display: block; }
