.header-links {
  float: right;
  height: 5em;
  line-height: 5em; }
  .header-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center; }
    .header-links ul li {
      display: inline;
      padding-right: 10px;
      position: relative; }

.links-container {
  height: 100%; }

.register-tag, .login-e,
.register-tag, .register-e {
  display: none; }

.header-logo {
  margin-top: 0.6em;
  width: 21.8em;
  height: auto; }

#main_sfield {
  width: 80%;
  height: 40px;
  font-size: 24px;
  margin-right: 5px; }

#search_button {
  height: 40px;
  width: 10%;
  background-image: url(/img/icon-search@2.png);
  background-position: 50%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  color: transparent; }

#professor_filters {
  background-color: white; }

#professor_content {
  background-color: green; }
