.header-links {
  float: right;
  height: 5em;
  line-height: 5em; }
  .header-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center; }
    .header-links ul li {
      display: inline;
      padding-right: 10px;
      position: relative; }

.links-container {
  height: 100%; }

.register-tag, .login-e,
.register-tag, .register-e {
  display: none; }

.header-logo {
  margin-top: 0.6em;
  width: 21.8em;
  height: auto; }

#main_sfield {
  width: 80%;
  height: 40px;
  font-size: 24px;
  margin-right: 5px; }

#search_button {
  height: 40px;
  width: 10%;
  background-image: url(/img/icon-search@2.png);
  background-position: 50%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  color: transparent; }

#professor_filters {
  border-radius: 2px;
  min-height: 100px;
  width: 98%; }

#professor_content {
  border-radius: 2px;
  min-height: 40%;
  width: 100%;
  max-width: 819.2px;
  padding: 10px;
  margin: 0 auto; }

.professor_pill {
  padding-top: 9px;
  width: 90%;
  margin: 0 auto; }

.professor_img {
  width: 80%;
  height: auto; }

.professor_social,
.professor_img {
  padding: 5px 10px 0 5px; }

#professor_reviews {
  padding-top: 10px; }
