.arrow-up {
  position: absolute;
  top: -9px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF000; }

#bar_login_popover, #bar_register_popover {
  top: 5em;
  right: 8.5%;
  position: absolute;
  padding: 20px;
  z-index: 10;
  background-color: #FFF000;
  box-shadow: 2px 2px 2px #888888; }

#bar_login_popover .arrow-up {
  left: 20%; }

#bar_register_popover .arrow-up {
  right: 26.5%; }

.header-links {
  float: right;
  height: 5em;
  line-height: 5em; }
  .header-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center; }
    .header-links ul li {
      display: inline;
      padding-right: 10px;
      position: relative; }

.links-container {
  height: 100%; }

.email_label, .email {
  display: none; }

.header-logo {
  margin-top: 0.6em;
  width: 21.8em;
  height: auto; }

#main_sfield {
  width: 80%;
  height: 40px;
  font-size: 24px;
  margin-right: 5px; }

#search_button {
  height: 40px;
  width: 10%;
  background-image: url(/img/icon-search@2.png);
  background-position: 50%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  color: transparent; }

#professor_filters {
  border-radius: 2px;
  min-height: 100px;
  width: 98%; }

#professor_content {
  border-radius: 2px;
  min-height: 40%;
  width: 100%;
  max-width: 819.2px;
  padding: 10px;
  margin: 0 auto; }

.professor_pill {
  padding-top: 9px;
  width: 90%;
  margin: 0 auto; }

.professor_img {
  width: 80%;
  height: auto; }

.professor_social,
.professor_img {
  padding: 5px 10px 0 5px; }

#professor_reviews {
  padding-top: 10px; }

#review_form {
  height: 290px; }
