script#review_template.
  <div class="pure-u-1 review">
    <div class="pure-u-1">
      <div class="pure-u-2-11">
        <div class="pure-u-1 center">
          <p>Calificación Promedio</p>
        </div>
        <div class="pure-u-1 center">
          <div id="review_star_<%= id %>"></div>
        </div>
      </div>
      <div class="pure-u-8-11">
        <div class="pure-u-8-9">
          <p>
            <%= comment %>
          </p>
        </div>
      </div>
    </div>
    <div class="pure-u-1">
      <div class="pure-u-5-11 votes_zone">
        <p>
          <%= pos %> up - <%= neg %> down. ¿Te pareció útil este comentario?
          <span class="votes">
            <a href="#" class="yes_vote">Si</a>
            o
            <a href="#" class="no_vote">No</a>
          </span>
        </p>
      </div>
      <div class="pure-u-5-11">
        <p><%= timestamp %></p>
      </div>
    </div>
  </div>
