mixin register_form
  form(method='POST', action=locals.reverse('register'))
    label.input_label(for='register-un') Elige un Nombre de Usuario
    input.register-un(type='email', name='register_usr', id='register-un', value=STATE.r_un || '')

    label.input_label(for='register-pw') Elige una Contraseña
    input.register-pw(type='password', name='register_psw', id='register-pw')

    label.register-tag(for='register_email') Ingresa tu email
    input.register-e(type='email', name='register_email', id='register-email')

    input.login-button(type='submit', value='registrarse')
