mixin search_bar(input_class, button_class, placeholder)
  form(method='GET', action=locals.reverse('professor'))
    input#main_sfield(class=input_class, type='text', name='q', autocomplete="off", placeholder=placeholder)
    button#search_button(class=button_class).primary_c
      span
        i.icon.ion-ios7-search-strong

